@import "./var";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap");
@import "/assets/fonts/font/stylesheet.css";
.cont-fluid {
    height: fit-content;
    width: 100%;
    .banner {
        @include Responsive {
            background-size: cover;
            flex-direction: column;
        }
        display: flex;
        justify-content: space-evenly;
        background-image: url("../assets/images/banner.png");
        padding: 2rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        .banner-left {
            @include Responsive {
                width: 100%;
                margin-top: 16px;
            }
            width: 40%;
            height: fit-content;
            h3 {
                margin-top: 6rem;
                @include font($color-primary,
                31px,
                "Titillium",
                null);
            }
            h5 {
                margin-top: 4rem;
                @include font($color-primary,
                20px,
                "Noto Sans JP",
                100);
            }
            button {
                margin-top: 8px;
                padding: 8px 24px;
                color: $color-primary;
                outline: none;
                border: none;
                background-color: $buttonsecondary;
            }
        }
        .form {
            padding: 8px;
            width: 25%;
            height: fit-content;
            padding: 8px;
            background-color: $color-primary;
            text-align: left;
            border-radius: 1px;
            @include Responsive {
                width: 100%;
                margin-top: 16px;
            }
            h1 {
                text-align: left;
                padding: 8px;
                margin: 0px 8px;
            }
            .form-container {
                width: 100%;
                .ip-container {
                    border: 1px solid;
                    padding: 8px;
                    margin: 8px 16px;
                    input {
                        border: none;
                        width: 100%;
                        margin-bottom: 1rem;
                        display: inline-block;
                    }
                    textarea {
                        border: none;
                        width: 100%;
                        margin-bottom: 1rem;
                        resize: none;
                    }
                }
                .check {
                    border: 1px solid;
                    padding: 8px;
                    margin: 8px 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input {
                        padding-top: 10px;
                        margin-right: 1rem;
                        width: fit-content;
                        display: inline-block;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                button {
                    border: 1px solid;
                    padding: 8px 24px;
                    margin: 8px 16px;
                    background-color: $buttonsecondary;
                    color: $color-primary;
                    outline: none;
                    border: none;
                }
            }
        }
    }
}

// section 2--------------------------------------------------------------------------------------------------------------
.section2 {
    margin-top: 80px;
}

.section2 .right {
    @include Responsive {
        width: 100%;
        margin-top: 25px;
    }
    background-color: #2EC4B8;
    background-image: linear-gradient(to right,
    #2EC4B8,
    #6078EA);
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 25px;
    padding: 20px;
    border-radius: 4px;
    width: 586px;
    height: 95px;
}

hr {
    @include Responsive {
        width: 100%;
    }
    width: 50%;
    margin-left: 0;
    text-align: center;
}

.section2 .remain-right {
    @include Responsive {
        width: 100%;
    }
    background-color: #FFFFFF;
    font-size: 17px;
    color: #000000;
    padding: 20px;
    margin-top: 15px;
    line-height: 20px;
    width: 623px;
}

.section2 .remain-right1 {
    @include Responsive {
        width: 100%;
    }
    background-color: #FFFFFF;
    font-size: 17px;
    color: #000000;
    padding: 15px;
    line-height: 20px;
    width: 623px;
    text-align: left;
}

// section 3  ------------------------------------------------------------------------------------------------------------
.subtitle {
    color: #22B78E;
    font-family: StagSans;
    font-size: 40px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    margin-top: 30px;
}

.rectangle {
    background-color: #F9F9FF;
    border-radius: 4px;
    height: fit-content;
    border-right-color: #17EAD9;
}

.rectangle1 {
    background-color: #f9f9ff79;
    border-radius: 4px;
    height: fit-content;
    border-left-color: #000505;
}

.doctor1 {
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: #22B78E;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    font-weight: 100;
}

.doctor1 h3 {
    margin: 30px !important;
}

.list {
    margin-bottom: 90px;
}

@media only screen and (max-width: 600px) {
    .list {
        margin-bottom: 60px;
    }
}

.list h4 {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    text-align: center;
}

.list .desc {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 20px;
    text-align: center;
}

.list a {
    background-color: #2EC4B8;
    background-image: linear-gradient(to right, #2EC4B8, #6078EA);
}

.list .line {
    border: 1px solid black;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    margin: 10px 0px 10px 220px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .list .line {
        border: 1px solid black;
        border-radius: 4px;
        width: 80px;
        text-align: center;
        margin: 10px 0px 10px 180px;
        align-items: center;
    }
}

.list .description {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.list .btn {
    background-image: radial-gradient(-35.15% 100%, #17EAD9 0%, #6078EA 100%);
    border-radius: 4px;
    outline: none;
    padding: 15px;
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;
}

// section 4-----------------------------------------------------------------------------------------------------
.points {
    margin-top: 80px;
}

.heading {
    color: $heading-color;
}

.points li {
    list-style: square inside url("../assets/images/plus-sign.png");
    list-style-position: outside;
    text-align: left;
    line-height: 39px;
    color: #000000;
    font-size: 14px;
}

// section 5----------------------------------------------------------------------------------------------------
.icons {
    @include Responsive {
        width: 100%;
        align-items: center;
    }
}

.space {
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E5EAFF;
    box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
    scroll-padding-block-end: 1px;
    width: 255px;
    height: 170px;
    float: none;
    margin: 0 auto;
}

.para {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    width: 198px;
    padding-top: 25px;
}

// section 6--------------------------------------------------------------------------------------------
.FAQ {
    margin-top: 80px;
    margin-bottom: 40px;
}

.accordion {
    @include Responsive {
        width: 100%;
    }
    background-color: rgb(255,
    255,
    255);
    color: #1D5AA6;
    cursor: pointer;
    padding: 18px;
    font-weight: 600;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

@media only screen and (max-width: 600px) {
    .accordion {
        font-size: small;
    }
}

.active,
.accordion:hover {
    background-color: (166, 242, 255, 0.815);
}

.accordion:after {
    content: '\140c';
    color: #1D5AA6;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: sans-serif !important;
}

.panel .fa {
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 0.8cm;
}

// footer------------------------------------------------------------
.footer {
    background-color: #272727;
    height: 200px;
    width: 100%;
    position: relative;
    padding-top: 45px;
}

.footer .images img {
    width: 25px;
    height: 25px;
    margin-top: 40px;
    text-align: center;
    margin-right: 10px;
}

.footer .arrow {
    position: absolute;
    right: 200px;
    top: 70px;
}

@media only screen and (max-width: 600px) {
    .footer .arrow {
        position: absolute;
        right: 18px;
        top: 70px;
    }
}

.footer .line {
    border: 1px solid rgba(255, 255, 255, 0.21);
    opacity: 0.3701869419642857;
    width: 1110px;
    height: 2px;
    margin-top: 18px;
    position: absolute;
    left: 40px
}

.footer h4 {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 14px;
    letter-spacing: 1.12px;
    line-height: 17px;
    margin-top: 30px;
    text-align: center;
}

.book .btn {
    background-color: #004498;
    border-radius: 4.81px;
    padding: 15px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17.14px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 25px;
}

// testimonials
//testimonials

/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}